<tr>
    <td valign="middle" colspan="2" style="padding-left:50px; line-height:40pt; text-align:center">
            <span style="font-family:Calibri; font-size:18pt">
                User inquiry details
            </span>
    </td>
</tr>

<tr>
    <td valign="middle" style="padding-left:50px; line-height:30pt; width:30%">
            <span style="font-family:Calibri; font-size:14pt">
                Company Name
            </span>
    </td>
    <td valign="middle" style="line-height:30pt;">
            <span style="font-family:Calibri; font-size:14pt">
                {{data.company_name}}
            </span>
    </td>
</tr>

<tr>
    <td valign="middle" style="padding-left:50px; line-height:30pt; width:30%">
            <span style="font-family:Calibri; font-size:14pt">
                Product
            </span>
    </td>
    <td valign="middle" style="line-height:30pt;">
            <span style="font-family:Calibri; font-size:14pt">
                {{data.product_name}}
            </span>
    </td>
</tr>

<tr>
    <td valign="middle" style="padding-left:50px; line-height:30pt; width:30%">
            <span style="font-family:Calibri; font-size:14pt">
                Email
            </span>
    </td>
    <td valign="middle" style="line-height:30pt;">
            <span style="font-family:Calibri; font-size:14pt">
                {{data.email}}
            </span>
    </td>
</tr>

<tr>
    <td valign="middle" style="padding-left:50px; line-height:30pt; width:30%">
            <span style="font-family:Calibri; font-size:14pt">
                Phone
            </span>
    </td>
    <td valign="middle" style="line-height:30pt;">
            <span style="font-family:Calibri; font-size:14pt">
                {{data.mobile}}
            </span>
    </td>
</tr>

<tr>
    <td valign="middle" colspan="2" style="padding-left:60px; padding-right:60px; line-height:30pt">
            <span style="font-family:Calibri; font-size:14pt">
                {{data.inquiry_message}}
            </span>
    </td>
</tr>