<%- layout('../layout/index') %>
<!--====== Page Banner Start ======-->

<section class="page-banner page-banner-custom">
    <div class="page-banner-bg">
        <div class="container">
            <div class="banner-content banner-content-custom align-items-center">
                <h2 class="title title-custom">About <span>Us</span></h2>
            </div>
        </div>
    </div>
</section>

<!--====== Page Banner Ends ======-->

<!--====== About Start ======-->

<section class="about-area content-area-padding-custom">
    <div class="container">
        <div class="row">
            <div class="col-lg-5" style="max-width: none;">
                <div class="about-content mt-40">
                    <h2 class="about-title">Tag <span>Line</span></h2>
                    <span class="line"></span>
                    <p>Maruti Color & Chemical is a leading chemical trading company known for supplying and
                        exporting specialty chemicals to various industries, including Pharmaceuticals, Rubber,
                        Pesticides, Plastics, Textiles, and Oil & Refinery. It stands out for its customer-centric
                        approach, offering tailored packaging solutions and introducing innovative products while
                        educating customers.</p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="about-image mt-50" style="margin-left: -25px;">
                    <div class="single-image image-1">
                        <img src="<%- MEDIA_URL %>/assets/images/about/about-1.png" width="290" height="290"
                             alt="about">
                    </div>
                    <!-- <div class="single-image image-2">
                        <img src="assets/images/about/about-2.webp" width="225" height="225" alt="about">
                    </div> -->
                    <div class="single-image image-3">
                        <!-- <img src="assets/images/about/about-3.webp" width="190" height="190" alt="about"> -->
                    </div>
                    <div class="single-image image-4">
                        <img src="<%- MEDIA_URL %>/assets/images/about/about-2.png" width="225" height="225"
                             alt="about">
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<!--====== About Ends ======-->

<!--====== 3 box start ======-->
<section class="event-area mb-5">
    <div class="container">
        <div class="event-title-tab-menu">
            <div class="event-title mt-30">
                <h2 class="title">Who We<br> Are?</h2>
            </div>

            <div class="event-tab-menu mt-30">
                <ul class="nav">
                    <li><a data-bs-toggle="tab" class="active" href="#what_we_do">What We do</a></li>
                    <li><a data-bs-toggle="tab" href="#vision">Our Vision </a></li>
                    <li><a data-bs-toggle="tab" href="#mission">Our Mission </a></li>
                    <li><a data-bs-toggle="tab" href="#values">Our Values</a></li>
                </ul>
            </div>
        </div>
        <div class="tab-content event-tab-items wow fadeInUpBig" data-wow-duration="1s" data-wow-delay="0.2s">
            <div class="tab-pane fade show active" id="what_we_do">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="single-event text-center mt-30">
                            <p class="place">Maruti Color & Chemical is a trailblazing chemical trading company,
                                revered as a leading supplier of diverse chemicals across industries in this era.
                                Our customer-driven approach, coupled with innovative solutions and a commitment to
                                excellence, has positioned us as an industry frontrunner. Catering to a global
                                clientele, we specialize in specialty chemical supplies, contributing to sectors
                                such as Pharmaceuticals, Rubber, Pesticides, Plastics, Textiles, and Oil & Refinery.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="vision">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="single-event text-center mt-30">
                            <p class="place">Our vision at Maruti Color & Chemical is to transcend boundaries and
                                become a globally recognized benchmark in the chemical trading industry. By
                                fostering enduring relationships with customers and partners, we aspire to shape a
                                sustainable future through our exceptional products and services. Through continuous
                                innovation, operational excellence, and a culture of collaboration, we strive to
                                lead the way in providing environmentally responsible chemical solutions. Our
                                ultimate goal is to be the preferred choice for customers seeking quality,
                                reliability, and innovation in chemical supplies.

                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="mission">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="single-event text-center mt-30">
                            <p class="place"> Maruti Color & Chemical, our mission is to be an industry leader in
                                supplying high-quality chemicals that empower various sectors worldwide. We are
                                committed to leveraging our expertise, innovative solutions, and customer-centric
                                approach to continuously expand our product offerings and enhance our global
                                presence. With unwavering dedication, we aim to take our company from strength to
                                strength, providing exceptional value to our customers and contributing to the
                                advancement of industries.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="values">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="single-event text-center mt-30">
                            <p class="place">Maruti Color & Chemical, our values constitute the cornerstone of our
                                identity. Integrity, customer-centricity, innovation, and sustainability define our
                                ethos. We uphold the highest standards of honesty in all our dealings, placing
                                customers at the heart of our decisions. Our commitment to innovation drives us to
                                pioneer new solutions and stay ahead in a dynamic industry. As stewards of the
                                environment, we champion sustainable practices, aiming to create a positive impact
                                on both industries and the planet.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="event-area event-area-custom">
    <div class="container">
        <div class="event-title-tab-menu">
            <div class="event-title">
                <div class="banner-content banner-content-custom align-items-center">
                    <h2 class="title title-custom"><span>Our</span> Certificates</h2>
                </div>
            </div>
        </div>
        <div class="tab-content event-tab-items wow fadeInUpBig" data-wow-duration="1s" data-wow-delay="0.2s">
            <div class="tab-pane fade show active" id="certificates">
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="single-event text-center mt-3 p-0">
                            <div class="col-sm-12">
                                <a href="<%- BASE_URL %>/documents/Certificates/certificateOfIEC.pdf" target="_blank">
                                    <div class="single-specialty">
                                        <div class="specialty-box">
                                            <div class="box-icon">
                                                <img src="<%- MEDIA_URL %>/assets/images/icon/icon-2-5.webp"
                                                     width="70" height="70" alt="icon">
                                            </div>
                                            <div class="box-content">
                                                <p>IEC</p>
                                                <p>certificate</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="single-event text-center mt-3 p-0">
                            <div class="col-sm-12">
                                <a href="<%- BASE_URL %>/documents/Certificates/Mayurbhai_GST.pdf" target="_blank">
                                    <div class="single-specialty">
                                        <div class="specialty-box">
                                            <div class="box-icon">
                                                <img src="<%- MEDIA_URL %>/assets/images/icon/icon-2-5.webp"
                                                     width="70" height="70" alt="icon">
                                            </div>
                                            <div class="box-content">
                                                <p>GST</p>
                                                <p>certificate</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====== 3 box end ======-->
<!--====== Testimonials Start ======-->

<!--<section class="testimonials-area">-->
    <!--<div class="container">-->
        <!--<div class="row align-items-center">-->
            <!--<div class="col-lg-4">-->
                <!--<div class="testimonials-title">-->
                    <!--<h2 class="title">Meet <span>Team</span> Members</h2>-->
                    <!--<span class="line"></span>-->
                    <!--<p>Even slightly believable. If you are going use a passage of Lorem Ipsum need desire to obtain-->
                        <!--pain of itself, because it is pain de sires to obtain pain of itself occur</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-8">-->
                <!--<div class="testimonials-wrapper">-->
                    <!--<div class="testimonials-shape shape-1"></div>-->
                    <!--<div class="testimonials-shape shape-2"></div>-->
                    <!--<div class="testimonials-shape shape-3"></div>-->

                    <!--<div class="row no-gutters">-->
                        <!--<div class="col-lg-6 col-md-5">-->
                            <!--<div class="testimonials-image">-->
                                <!--&lt;!&ndash;<div class="single-testimonial-image">-->
                                    <!--<img src="<%- MEDIA_URL %>/assets/images/testimonials-1.png" width="313"-->
                                         <!--height="579"-->
                                         <!--alt="testimonials">-->
                                <!--</div>-->
                                <!--<div class="single-testimonial-image">-->
                                    <!--<img src="<%- MEDIA_URL %>/assets/images/testimonials-2.webp" width="313"-->
                                         <!--height="579"-->
                                         <!--alt="testimonials">-->
                                <!--</div>-->
                                <!--<div class="single-testimonial-image">-->
                                    <!--<img src="<%- MEDIA_URL %>/assets/images/testimonials-1.webp" width="313"-->
                                         <!--height="579"-->
                                         <!--alt="testimonials">-->
                                <!--</div>&ndash;&gt;-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-lg-6 col-md-7">-->
                            <!--<div class="testimonials-content">-->
                                <!--<div class="single-testimonial-content">-->
                                    <!--<div class="content-text">-->
                                        <!--<i class="fas fa-quote-right"></i>-->
                                        <!--<p>Best pleasure rationally encounter consequences that are very nice a-->
                                            <!--again is there anyone who loves or desires to obtain pain of itself</p>-->
                                    <!--</div>-->
                                    <!--<div class="content-meta">-->
                                        <!--<p class="name">Alex Smith</p>-->
                                        <!--<p class="designation">CEO, Xelopex Group</p>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="single-testimonial-content">-->
                                    <!--<div class="content-text">-->
                                        <!--<i class="fas fa-quote-right"></i>-->
                                        <!--<p>Best pleasure rationally encounter consequences that are very nice a-->
                                            <!--again is there anyone who loves or desires to obtain pain of itself</p>-->
                                    <!--</div>-->
                                    <!--<div class="content-meta">-->
                                        <!--<p class="name">Alex Smith</p>-->
                                        <!--<p class="designation">CEO, Xelopex Group</p>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="single-testimonial-content">-->
                                    <!--<div class="content-text">-->
                                        <!--<i class="fas fa-quote-right"></i>-->
                                        <!--<p>Best pleasure rationally encounter consequences that are very nice a-->
                                            <!--again is there anyone who loves or desires to obtain pain of itself</p>-->
                                    <!--</div>-->
                                    <!--<div class="content-meta">-->
                                        <!--<p class="name">Alex Smith</p>-->
                                        <!--<p class="designation">CEO, Xelopex Group</p>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->

<!--====== Testimonials Ends ======-->
